# SPDX-FileCopyrightText: 2025 Winford (Uncle Grumpy) <winford@object.stream>
# SPDX-License-Identifier: CC0-1.0

.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
rebar3.crashdump
rebar.lock
.vscode
doc
