%%
%% Copyright (c) 2025 <winford@object.stream>
%% All rights reserved.
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%%     http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.
%%
%% SPDX-FileCopyrightText: 2025 Winford (Uncle Grumpy) <winford@object.stream>
%% SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later

{minimum_otp_vsn, "21"}.

{erl_opts, [
    debug_info,
    nowarn_sasl,
    {i, ["src", "include"]}
]}.

{deps, []}.
{project_app_dirs, ["apps/*", "."]}.

{escript_main_app, esp_partition}.

{alias, [
    {erlfmt, [
        {fmt, ["-c --print-width 100 apps/*/{src,include,test}/*.{hrl,erl,app.src,config}"]},
        {fmt, ["-c --print-width 100 apps/*/rebar.config"]},
        {fmt, ["-c --print-width 100 rebar.config"]}
    ]},
    {format, [
        {fmt, "-w --print-width 100 apps/*/{src,include,test}/*.{hrl,erl,app.src,config}"},
        {fmt, ["-w --print-width 100 apps/*/rebar.config"]},
        {fmt, ["-w --print-width 100 rebar.config"]}
    ]},
    {check, [
        xref,
        dialyzer,
        erlfmt
    ]},
    {test, [{ct, "--cover"}, eunit, {proper, "--retry --regressions"}, {proper, "-c"}, cover]},
    {tests, [check, test]}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/UncleGrumpy/eee_tools">>},
    {homepage_url, <<"https://UncleGrumpy.github.io/eee_tools">>},
    {extras, [
        <<"README.md">>,
        <<"apps/eee_lib/eee_lib.md">>,
        <<"apps/esp_nvs/eee_nvs.md">>,
        <<"apps/esp_partition/esp_partition.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSES/Apache-2.0.txt">>,
        <<"LICENSES/LGPL-2.1-or-later.txt">>,
        <<"CONTRIBUTING.md">>,
        <<"CODE_OF_CONDUCT.md">>
    ]},
    {main, <<"README.md">>},
    {api_reference, true}
]}.

{profiles, [
    {'ATOM', [
        {deps, [
            {eavmlib,
                {git_subdir, "https://github.com/atomvm/AtomVM", {branch, "main"}, "libs/eavmlib"}}
        ]},
        {plugins, [
            {atomvm_rebar3_plugin,
                {git, "https://github.com/atomvm/atomvm_rebar3_plugin", {branch, "master"}}}
        ]}
    ]},
    {test, [
        {erl_opts, [
            debug_info,
            export_all,
            nowarn_sasl,
            nowarn_export_all,
            warnings_as_errors,
            {i, ["src", "include"]},
            {d, 'TEST', true}
        ]},
        {extra_src_dirs, ["test"]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {cover_excl_apps, [eee_tool]},
        {cover_excl_mods, [esp_device_flash, esp_partition_cli, esp_nvs]},
        {eunit_opts, [{cover, true}]},
        {proper_opts, [
            {dir, "test"},
            {module, [esp_nvs_prop, ecrc_prop]},
            {cover, true},
            {verbose, false},
            {long_result, true},
            {store, true},
            {numtests, 10000}
        ]},
        {dialyzer, [
            {plt_apps, all_deps},
            {plt_extra_apps, [proper, eunit, common_test, eavmlib]},
            {base_plt_prefix, "test_"}
        ]},
        {xref_extra_paths, ["test", "apps/*/test"]},
        {xref_checks, [
            undefined_function_calls,
            undefined_functions,
            locals_not_used,
            deprecated_function_calls,
            deprecated_functions
        ]},
        {deps, [
            proper,
            {eavmlib,
                {git_subdir, "https://github.com/atomvm/AtomVM", {branch, "main"}, "libs/eavmlib"}}
        ]},
        {plugins, [
            erlfmt,
            rebar3_proper
        ]}
    ]},
    {doc, [
        {plugins, [rebar3_ex_doc]},
        {hex, [
            {doc, #{provider => ex_doc}}
        ]}
    ]}
]}.
