%% rebar.conf for eee_lib
%%
%% Copyright (c) 2025 Winford (Uncle Grumpy) <winford@object.stream>
%% All rights reserved.
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%%     http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.
%%
%%
%% SPDX-FileCopyrightText: 2025 Winford (Uncle Grumpy) <winford@object.stream>
%% SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later

{erl_opts, [debug_info, nowarn_sasl, warnings_as_errors]}.
{minimum_otp_vsn, "21"}.

{deps, []}.

{ex_doc, [
    {source_url, <<"https://github.com/UncleGrumpy/eee_tools">>},
    {homepage_url, <<"https://UncleGrumpy.github.io/eee_tools">>},
    {main, <<"eee_lib">>},
    {api_reference, true}
]}.

{profiles, [
    {'ATOM', [
        {deps, [
            {eavmlib,
                {git_subdir, "https://github.com/atomvm/AtomVM", {branch, "main"}, "libs/eavmlib"}}
        ]},
        {plugins, [
            {atomvm_rebar3_plugin,
                {git, "https://github.com/atomvm/atomvm_rebar3_plugin", {branch, "master"}}}
        ]}
    ]},
    {test, [
        {erl_opts, [
            debug_info,
            export_all,
            nowarn_sasl,
            nowarn_export_all,
            warnings_as_errors,
            {i, ["include"]},
            {d, 'TEST', true}
        ]},
        {deps, [
            proper,
            {eavmlib,
                {git_subdir, "https://github.com/atomvm/AtomVM", {branch, "main"}, "libs/eavmlib"}}
        ]},
        {extra_src_dirs, ["test"]},
        {cover_enabled, true},
        {cover_opts, [{verbose, true}]},
        {proper_opts, [
            {dir, "test"},
            {module, [ecrc_prop]},
            {cover, true},
            {verbose, false},
            {long_result, true},
            {numtests, 1000}
        ]},
        {dialyzer, [
            {plt_apps, all_deps},
            {plt_extra_apps, [proper, eunit, common_test]},
            {base_plt_prefix, "test"}
        ]},
        {xref_extra_paths, ["test", "apps/*/test"]},
        {xref_checks, [
            undefined_function_calls,
            undefined_functions,
            locals_not_used,
            deprecated_function_calls,
            deprecated_functions
        ]},
        {plugins, [
            erlfmt,
            rebar3_proper
        ]}
    ]},
    {doc, [
        {plugins, [rebar3_ex_doc]},
        {hex, [
            {doc, #{provider => ex_doc}}
        ]}
    ]}
]}.
